:root {
    --header-height: 50px;
    --keyboard-height: 200px;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font: 100%/1.4 sans-serif;
    height: 100%;
    margin: 0;
}

.js-root, .c-Wordle {
    height: 100%;
}

.c-Wordle__header {
    font-size: 2rem;
    font-weight: bold;
    height: var(--header-height);
    text-align: center;
}

.c-Wordle__game {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    max-width: 30rem;
    margin: 0 auto;
    width: 100%;
}

.c-Wordle__board-container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
}

.c-Wordle__board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    width: 50vh;
}

.c-Wordle__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.c-Wordle__tile {
    align-items: center;
    border: 2px solid #d3d6da;
    display: inline-flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    line-height: 2rem;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    width: 100%;
}

.c-Wordle__tile::before {
    content: '';
    padding-bottom: 100%;
    display: inline-block;
}

.c-Wordle__tile.is-correct {
    background-color: #6aaa64;
    color: white;
}

.c-Wordle__tile.is-not-correct {
    background-color: #787c7e;
    color: white;
}

.c-Wordle__tile.is-present {
    background-color: #c9b458;
    color: white;
}

.c-Wordle__keyboard {
    height: var(--keyboard-height);
}

.c-Wordle__keyboard__row {
    display: flex;
    margin: 0 auto 8px;
    touch-action: manipulation;
    width: 100%;
}

.c-Wordle__keyboard__button {
    align-items: center;
    background-color: #d3d6da;
    border: 0;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-family: inherit;
    font-weight: bold;
    height: 58px;
    justify-content: center;
    margin: 0 6px 0 0;
    padding: 0;
    text-transform: uppercase;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.one-and-a-half {
    flex: 1.5;
    font-size: 12px;
}
